<h1>Administrate Users</h1>

<%= form_tag(users_path, method: 'get') do %>
      <%= text_field_tag(:email, params[:email]) %>
      <%= submit_tag('Search by email', name: nil) %>
<% end %>
<%= button_to 'Show all users', users_path, method: :get %>
<br>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th> </th>
      <th>Actions</th>
      <th> </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary' %></td>
        <% if user.suspended %>
          <td><%= button_to 'Undo suspension', change_suspension_user_path(user), method: :post, data: { confirm: 'Undo suspend user: Are you sure?' }, class: 'btn btn-warning' %></td>
        <% else %>
          <td><%= button_to 'Suspend', change_suspension_user_path(user), method: :post, data: { confirm: 'Suspend user: Are you sure?' }, class: 'btn btn-warning' %></td>
        <% end %>
        <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Destroy user: Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
