<h2>My Accounts</h2>
<hr>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="debit-tab" data-toggle="tab" href="#debit" role="tab" aria-controls="debit"
      aria-selected="false">Debit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="checking-tab" data-toggle="tab" href="#checking" role="tab" aria-controls="checking"
      aria-selected="false">Checking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="credit-tab" data-toggle="tab" href="#credit" role="tab" aria-controls="credit"
      aria-selected="false">Credit</a>
  </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p><h4>Select Account Type</h4></p>
  </div>
  <div class="tab-pane fade" id="debit" role="tabpanel" aria-labelledby="debit-tab">
    <div class="debit">
  <h2>Debit Accounts</h2>

  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>Account Number</th>
      <th>Liquid Balance</th>
      <th>Illiquid Balance</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user.debit_accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.liquid_balance %></td>
        <td><%= account.illiquid_balance %></td>
        <td><%= account.currency %></td>
        <td><%= link_to 'Check Transactions', user_debit_account_path(@user, account), type: 'button', class: 'btn btn-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
  </div>
  <div class="tab-pane fade" id="checking" role="tabpanel" aria-labelledby="checking-tab">
    <div class="checking">
  <h2>Checking Accounts</h2>

  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>Account Number</th>
      <th>Liquid Balance</th>
      <th>Illiquid Balance</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user.checking_accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.liquid_balance %></td>
        <td><%= account.illiquid_balance %></td>
        <td><%= account.currency %></td>
        <td><%= link_to 'Check Transactions', user_checking_account_path(@user, account), type: 'button', class: 'btn btn-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
  </div>

  <div class="tab-pane fade" id="credit" role="tabpanel" aria-labelledby="credit-tab">
    <div class="credit">
  <h2>Credit Accounts</h2>

  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>Account Number</th>
      <th>Liquid Balance</th>
      <th>Illiquid Balance</th>
      <th>Currency</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @user.credit_accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.liquid_balance %></td>
        <td><%= account.illiquid_balance %></td>
        <td><%= account.currency %></td>
        <td><%= link_to 'Check Transactions', user_credit_account_path(@user, account), type: 'button', class: 'btn btn-secondary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
  </div>
    <hr>
</div>
