<h2>Credit Account <%= @account.id %> </h2>
<hr>
<h5>Liquid balance <%= @account.liquid_balance %> </h5>
<h5>Illiquid balance <%= @account.illiquid_balance %> </h5>
<h5>Credit limit <%= @account.credit_limit %> </h5>

<%= link_to 'New transaction', new_user_credit_account_transaction_path(@user, @account), type: 'button', class: 'btn btn-primary' %>
<%= link_to 'Transfer to another account', user_credit_account_transfer_path(@user, @account), type: 'button', class: 'btn btn-primary' %>
<br><br>
<div>
  <h2>Account Transactions </h2>

  <table class="table">
  <%= text_field_tag 'transaction-filter', nil, placeholder: 'Search category...' %>
  <thead class="thead-light">
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Currency</th>
      <th>Category</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody id='transactions-table'>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.amount %></td>
        <td><%= t.description %></td>
        <td><%= t.currency %></td>
        <td><%= t.category.name %></td>
        <td>
          <% if t.status %>
            Liquidated
          <% else %>
            Not liquidated
          <% end %>
        </td>
        <td><%= link_to('Check Installments', user_credit_account_transaction_path(@account.user, @account, t)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<hr>

<%= link_to 'Back', user_path(@user), type: 'button', class: 'btn btn-dark' %>
