<h2>Checking Account <%= @account.id %> </h2>
<hr>
<h5>Liquid balance <%= @account.liquid_balance %> </h5>
<h5>Illiquid balance <%= @account.illiquid_balance %> </h5>

<%= link_to 'New transaction', new_user_checking_account_transaction_path(@user, @account), type: 'button', class: 'btn btn-primary' %>
<%= link_to 'Transfer to another account', user_checking_account_transfer_path(@user, @account), type: 'button', class: 'btn btn-primary' %>
<hr>

<div>
  <h3>Transactions </h3>

  <table class="table">
  <%= text_field_tag 'transaction-filter', nil, placeholder: 'Search category...' %>
  <thead class="thead-light">
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Currency</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody id='transactions-table'>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.amount %></td>
        <td><%= t.description %></td>
        <td><%= t.currency %></td>
        <td><%= t.category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<hr>

<%= link_to 'Back', user_path(@user), type: 'button', class: 'btn btn-dark' %>
