<%= form_with(model: [user, account], local: true, url: url, method: :post) do |form| %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, min: 1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :destination_account_type %>
    <%= form.select :destination_account_type, %w[Debit Checking Credit], {}, { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= form.label :destination_account_id %>
    <%= form.number_field :destination_account_id, min: 1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :currency %>
    <%= form.select :currency, %w[CLP USD], {}, { class: 'form-control' } %>
  </div>

    <div class="form-group" id="categories">
      <%= form.label :category %>
      <% @categories.each do |categoria| %>
          <label class="form-check">
            <%= form.radio_button(:category, categoria.id, id: categoria.id) %>
            <%= label_tag(:category, categoria.name) %>
          </label>
      <% end %>
    </div>

  <div class=" actions ">
    <%= form.submit 'Transfer', class: 'btn btn-primary' %>
  </div>
  <br>
<% end %>
