<h1>Transaction <%= @transaction.id %> </h1>

<div>
  <h2>Transaction installments </h2>

  <table>
  <thead>
    <tr>
      <th>Installment Position</th>
      <th>Installment Amount</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @installments.each do |ins| %>
      <tr>
        <td><%= ins.place %>/<%= ins.total_places %></td>
        <td><%= ins.unit_amount %></td>
        <td><%= ins.liq_date %></td>
        <% if !ins.liq_status %>
            <td>Pending ...</td>
            <td><%= link_to('Liquidate Installment', liquid_path(id: ins.id), method: :post) %></td>
        <% else %>
            <td>Liquidated</td>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to('Back to Account', user_credit_account_path(@account.user, @account)) %>
